{% extends "base.html" %}
{% load static %}
{% block title %}Joy Consult Ltd - Services{% endblock title %}

{% block content %}
	<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Services</h1>
							<p class="mb-4">At Joy Consult, we are dedicated to enhancing your everyday life with a broad
								spectrum of services designed for convenience and quality. Here's an overview of what we offer:</p>
							<p><a href="{% url 'shop:shop' %}" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="hero-img-wrap">
							<img src="{% static 'images/couch.png' %}" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- End Hero Section -->

	

	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			
			
			<div class="row my-5">
				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Fast &amp; Free Shipping</h3>
						<p>Experience rapid delivery with no extra cost, so you get your 
							purchases quickly and without any added expenses.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Easy to Shop</h3>
						<p>Navigate our user-friendly platform with ease, allowing
								you to find and purchase what you need effortlessly.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>24/7 Support</h3>
						<p>Our dedicated support team is available around the clock to assist
								with any inquiries or issues you may encounter.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Hassle Free Returns</h3>
						<p>Return products with ease and without complications, 
							ensuring a smooth process for any exchanges or refunds.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Fast &amp;Personalized Recommendation</h3>
						<p>Receive tailored product suggestions based on your unique preferences
								and purchase history, making shopping even more convenient.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Subcription Services</h3>
						<p>Opt for regular deliveries of your favorite products, ensuring 
							you never run out of essentials and enjoy added convenience.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Gift Services</h3>
						<p>Choose from a wide variety of gift options, complete with professional wrapping
								and delivery services, making gift-giving simple and special.</p>
					</div>
				</div>

				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
						</div>
						<h3>Custom Orders</h3>
						<p>Request personalized products or services crafted to meet your
								specific needs, providing a unique and bespoke experience.</p>
					</div>
				</div>

			</div>
		
		</div>
	</div>
	<!-- End Why Choose Us Section -->

	<!-- Start Product Section -->
	<div class="product-section pt-0">
		<div class="container">
			<div class="row">

				<!-- Start Column 1 -->
				<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
					<h2 class="mb-4 section-title">Crafted with excellent material.</h2>
					<p class="mb-4">Crafted with excellent materials, our products ensure top-notch quality and 
						durability, providing you with superior performance and lasting satisfaction.</p>
					<p><a href="#" class="btn">Explore</a></p>
				</div> 
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="#">
						<img src="{% static 'images/product-1.png' %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Nordic Chair</h3>
						<strong class="product-price">Ghc 750.00</strong>

						<span class="icon-cross">
							<img src="{% static 'images/cross.svg' %}" class="img-fluid">
						</span>
					</a>
				</div> 
				<!-- End Column 2 -->

				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="#">
						<img src="{% static 'images/product-2.png' %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Kruzo Aero Chair</h3>
						<strong class="product-price">Ghc 870.00</strong>

						<span class="icon-cross">
							<img src="{% static 'images/cross.svg' %}" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 3 -->

				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="#">
						<img src="{% static 'images/product-3.png' %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Ergonomic Chair</h3>
						<strong class="product-price">Ghc 500.00</strong>

						<span class="icon-cross">
							<img src="{% static 'images/cross.svg' %}" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 4 -->

			</div>
		</div>
	</div>
	<!-- End Product Section -->

	

	<!-- Start Testimonial Slider -->
	<div class="testimonial-section before-footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="section-title">Testimonials</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="testimonial-slider-wrap text-center">

						<div id="testimonial-nav">
							<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
							<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
						</div>

						<div class="testimonial-slider">

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Exceptional service and fast delivery! Joy Consult exceeded my expectations 
													with their efficiency and attention to detail.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="{% static 'images/portrait image 7.jpg' %}" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">Satisfied Customer</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;The user-friendly interface and seamless checkout process
													made my shopping experience delightful and hassle-free.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="{% static 'images/portrait image 6.webp' %}" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Susan Anderson</h3>
												<span class="position d-block mb-3">Satisfied Customer</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Amazing customer support! They resolved my issue promptly
													and professionally, ensuring I was completely satisfied.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="{% static 'images/portrait image 8.webp' %}" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">James McCarthy Milson</h3>
												<span class="position d-block mb-3">Satisfied Customer</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Testimonial Slider -->

{% endblock content %}
